/* @file components/MenuButton.css.tsx */
/* @brief styles for Menu Button component */
/* @author Michal Zapletal (xzaple41) */
/* @date October 2023 */

.btn-square {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 75px !important;
  height: 75px !important;
  text-align: center;
  padding: 0px;
}
