.MenuButton{
    width:70px;
    height:70px;
    background-color:var(--BackgroundColor);
    color:var(--TextColor);
    padding: 3px;
    text-align: center;
    border-color: var(--DelimitationColor);
    border-radius: 5px;
    border-style: solid;
}

.MenuButton:hover{
    background-color: var(--DelimitationColor);
}

ion-icon{
    font-size: 30px;
}