/**
 * @file components/Modal.css
 * @brief CSS for Modal 
 * @author Radim Mifka (xmifka00)
 * @date December 2023
 */

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s;
}

.backdrop .modal-content {
  animation: popIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
