@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-colors: (
  'ecru': #dcc48e,
  'beige': #eaefd3,
  'ashgray': #b3c0a4,
  'davygray': #505168,
  'darkpurple': #27233a,
  'gunmetal': #1f1d2b,
);

$theme-colors: map_merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap';

// Scrollbar
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: map-get($custom-colors, 'gunmetal');
}

::-webkit-scrollbar-thumb {
  background-color: map-get($custom-colors, 'davygray');
  border-radius: 100px;
}
